
<!-- start validate email -->
<!-- <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="emailVal">
  <span *ngIf="email?.errors?.['required'] || email?.errors?.['noSpace']" class="alert alert-danger" role="alert">
      Email Is Required
  </span>
  <span *ngIf="email?.errors?.['pattern']" class="alert alert-danger" role="alert">
     Invalid Email
  </span>
</div> -->
<!-- end validate email -->
<!-- start validate password -->
  <!-- <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="passwordVal">
    <span *ngIf="password?.errors?.['required'] || password?.errors?.['noSpace']" class="alert alert-danger" role="alert">
      Password Is Required
    </span>
  </div> -->
<!-- end validate password -->





<!-- <div class="container">
  <div class="d-flex justify-content-center h-100 myheight">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
        </div>
      </div>
      <div class="card-body">

        <form (ngSubmit)="login()" [formGroup]="formParentGroup">
          <div formGroupName="user">

              <div class="input-group form-group input-field">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>

                <div>
                  <input type="text" formControlName="email" class="form-control" placeholder="email" />
                </div> -->
                <!-- start validate email -->
                  <!-- <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger " >
                      <div *ngIf="email?.errors?.['required'] || email?.errors?.['noSpace']" class="alert alert-danger" role="alert">Email is required</div>
                      <div *ngIf="email?.errors?.['pattern']" class="alert alert-danger" role="alert">Email must be a valid email address</div>
                </div> -->
                <!-- end validate email -->
              <!-- </div>

              <div class="input-group form-group input-field">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>

                <div>
                  <input formControlName="password" type="password" class="form-control" placeholder="password">
                </div> -->
                <!-- start validate password -->
                <!-- <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="passwordVal">
                  <div *ngIf="password?.errors?.['required'] || password?.errors?.['noSpace']" class="alert alert-danger" role="alert">
                    Password Is Required
                  </div>
                </div> -->
                <!-- end validate password -->
              <!-- </div> -->



              <!-- <div class="form-group">
                <button type="submit" class="btn float-right login_btn">Login</button>
              </div>

              <hr style="color: #fff;">

              <div class="d-flex justify-content-center" style="font-size: 20px;">
                <span style="color: #fff;">OR</span>
              </div>

              <div class="form-group">
                <button (click)="signInWithGoogle()"  type="submit" class="btn float-right google_btn"><i class="fab fa-google"></i>Login via Google</button>
              </div>

              <div class="form-group">
                <button (click)="signInWithFB()"  type="submit" class="btn float-right facebook_btn"><i class="fab fa-facebook-f"></i>Login via Facebook</button>
              </div>

        </div> -->









        <div class="global-container">
          <div class="card login-form">
            <div class="card-body">
               <h1 class="card-title text-center">LOGIN</h1>
               <div class="card-text">

                 <form (ngSubmit)="login()" [formGroup]="formParentGroup">
                  <div formGroupName="user">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address</label>
                      <input formControlName="email" type="email" class="form-control form-control-sm"  />
                      <!-- start validate email -->
                          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger" >
                              <div *ngIf="email?.errors?.['required'] || email?.errors?.['noSpace']" class="alert alert-danger " role="alert">Email is required</div>
                              <div *ngIf="email?.errors?.['pattern']" class="alert alert-danger" role="alert">Email must be a valid email address</div>
                          </div>
                       <!-- end validate email -->
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <a href="#" style="float: right; font-size:12px;">Forgot Password?</a>
                      <input formControlName="password" type="password" class="form-control form-control-sm" />
                       <!-- start validate password -->
                          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" >
                            <div *ngIf="password?.errors?.['required'] || password?.errors?.['noSpace']" class="alert alert-danger" role="alert">
                              Password Is Required
                            </div>
                          </div>
                      <!-- end validate password -->
                    </div>

                    <div class="d-grid ">
                      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>

                    <div class="signup">
                        Don't have an account?  <a routerLink="/signup">Create One</a>
                    </div>
                  </div>
                 </form>

                 <div class="social-media">
                   <h5>Login With</h5>
                   <a (click)="signInWithFB()"><i class="fab fa-facebook fa-xl" style="color: #3C66C4;"></i></a>
                   <a (click)="signInWithGoogle()"><i class="fab fa-google fa-xl" style="color: #CF4332;"></i></a>
                 </div>

               </div>
            </div>
          </div>
       </div>
